body{
    background-image: url("../img/コート.png");
    background-position: center;
    background-size: cover;
}
.icon{
    text-align: center;
}
.container{
    max-width:900px;
    max-height: 2000px;
    margin:0 auto;
    box-shadow: 0 0 10px rgba(0,0,0, .3);
    background-color: #ffffff;
    border: solid 1px #333333;
    background-image: none;
}
.content{
    text-align: center;
}
.title{
    font-size: 20pt;
    font-weight: bold;
}
.link{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
}
